--
-- PostgreSQL database dump
--

\restrict mF8wq2VAw5lEEYSqqokDvlxGnHjZ9bSo3ZdnrbS4OCrue9oPGqjggHJ1oSJJ9dX

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activation_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activation_codes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code text NOT NULL,
    label text,
    role text DEFAULT 'cashier'::text NOT NULL,
    created_by uuid,
    claimed_by uuid,
    used_at timestamp with time zone,
    expires_at timestamp with time zone DEFAULT (now() + '7 days'::interval) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    permissions jsonb DEFAULT '[]'::jsonb NOT NULL,
    CONSTRAINT activation_codes_role_check CHECK ((role = ANY (ARRAY['manager'::text, 'cashier'::text, 'mechanic'::text])))
);


ALTER TABLE public.activation_codes OWNER TO postgres;

--
-- Name: admin_recovery_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_recovery_codes (
    id uuid NOT NULL,
    code_hash text NOT NULL,
    created_by uuid NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    used_at timestamp with time zone,
    claimed_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.admin_recovery_codes OWNER TO postgres;

--
-- Name: approvals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.approvals (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    type text NOT NULL,
    requested_by uuid,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    decided_by uuid,
    decided_at timestamp with time zone,
    note text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT approvals_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'approved'::text, 'rejected'::text])))
);


ALTER TABLE public.approvals OWNER TO postgres;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_log (
    id bigint NOT NULL,
    user_id uuid,
    action text NOT NULL,
    entity text NOT NULL,
    entity_id text,
    old_value jsonb,
    new_value jsonb,
    meta jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_log OWNER TO postgres;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_log_id_seq OWNER TO postgres;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: bike_installment_payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bike_installment_payments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    reservation_id uuid NOT NULL,
    amount numeric(12,2) NOT NULL,
    payment_method text NOT NULL,
    paid_by uuid,
    transaction_ref text,
    note text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT bike_installment_payments_amount_check CHECK ((amount > (0)::numeric))
);


ALTER TABLE public.bike_installment_payments OWNER TO postgres;

--
-- Name: bike_reservations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bike_reservations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    bike_id uuid NOT NULL,
    customer_id uuid NOT NULL,
    reserved_by uuid NOT NULL,
    reserved_at timestamp with time zone DEFAULT now() NOT NULL,
    total_price numeric(12,2) NOT NULL,
    down_payment numeric(12,2) NOT NULL,
    balance numeric(12,2) NOT NULL,
    plan_months integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    notes text,
    completed_at timestamp with time zone,
    released_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT bike_reservations_balance_check CHECK ((balance >= (0)::numeric)),
    CONSTRAINT bike_reservations_down_payment_check CHECK ((down_payment >= (0)::numeric)),
    CONSTRAINT bike_reservations_plan_months_check CHECK ((plan_months >= 0)),
    CONSTRAINT bike_reservations_status_check CHECK ((status = ANY (ARRAY['active'::text, 'completed'::text, 'released'::text, 'expired'::text]))),
    CONSTRAINT bike_reservations_total_price_check CHECK ((total_price >= (0)::numeric))
);


ALTER TABLE public.bike_reservations OWNER TO postgres;

--
-- Name: bikes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bikes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    vin text NOT NULL,
    model text NOT NULL,
    color text,
    year integer,
    motor_number text,
    battery_serial text,
    battery_spec text,
    odometer_km integer DEFAULT 0 NOT NULL,
    cost_price numeric(12,2) DEFAULT 0 NOT NULL,
    selling_price numeric(12,2) DEFAULT 0 NOT NULL,
    status text DEFAULT 'in_stock'::text NOT NULL,
    location text,
    received_at timestamp with time zone DEFAULT now() NOT NULL,
    sold_at timestamp with time zone,
    sold_price numeric(12,2),
    customer_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    reserved_at timestamp with time zone,
    reserved_by uuid,
    CONSTRAINT bikes_status_check CHECK ((status = ANY (ARRAY['in_stock'::text, 'reserved'::text, 'sold'::text])))
);


ALTER TABLE public.bikes OWNER TO postgres;

--
-- Name: consignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consignments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    client_txn_id uuid NOT NULL,
    request_hash text NOT NULL,
    reference text NOT NULL,
    supplier text NOT NULL,
    delivery_cost numeric(12,2) NOT NULL,
    items_total numeric(12,2) NOT NULL,
    items jsonb NOT NULL,
    notes text,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    source_reorder_id uuid,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    source_list_id uuid,
    CONSTRAINT consignments_delivery_cost_check CHECK ((delivery_cost >= (0)::numeric)),
    CONSTRAINT consignments_items_total_check CHECK ((items_total >= (0)::numeric))
);


ALTER TABLE public.consignments OWNER TO postgres;

--
-- Name: customer_bikes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_bikes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    customer_id uuid NOT NULL,
    bike_id uuid,
    external_desc text,
    plate text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.customer_bikes OWNER TO postgres;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    full_name text NOT NULL,
    phone text,
    email text,
    address text,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: expense_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expense_categories (
    id uuid NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    group_name text NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.expense_categories OWNER TO postgres;

--
-- Name: expenses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expenses (
    id uuid NOT NULL,
    client_txn_id text,
    category_id uuid NOT NULL,
    category_snapshot text NOT NULL,
    amount numeric NOT NULL,
    payment_method text NOT NULL,
    payee text,
    receipt_ref text,
    expense_date date NOT NULL,
    notes text,
    recorded_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    voided boolean DEFAULT false NOT NULL,
    void_reason text,
    voided_at timestamp with time zone,
    voided_by uuid,
    CONSTRAINT expenses_amount_check CHECK ((amount > (0)::numeric)),
    CONSTRAINT expenses_payment_method_check CHECK ((payment_method = ANY (ARRAY['cash'::text, 'mobile_money'::text, 'bank'::text, 'card'::text])))
);


ALTER TABLE public.expenses OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    sku text NOT NULL,
    barcode text,
    name text NOT NULL,
    category text DEFAULT 'Spare part'::text NOT NULL,
    brand text,
    supplier text,
    cost_price numeric(12,2) DEFAULT 0 NOT NULL,
    selling_price numeric(12,2) DEFAULT 0 NOT NULL,
    stock_qty integer DEFAULT 0 NOT NULL,
    min_stock integer DEFAULT 5 NOT NULL,
    reorder_level integer DEFAULT 10 NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT products_category_check CHECK ((category = ANY (ARRAY['Spare Parts'::text, 'Accessories'::text, 'Consumables'::text, 'e-Bikes'::text, 'e-Bikes Spare Parts'::text, 'e-Bike'::text, 'e-Bike Spare Parts'::text, 'Spare Parts'::text, 'Spare part'::text, 'Accessory'::text, 'Consumable'::text])))
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: push_subscriptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.push_subscriptions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    endpoint text NOT NULL,
    p256dh text NOT NULL,
    auth text NOT NULL,
    user_agent text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.push_subscriptions OWNER TO postgres;

--
-- Name: reorder_lists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reorder_lists (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    client_txn_id uuid NOT NULL,
    request_hash text NOT NULL,
    title text NOT NULL,
    notes text,
    items jsonb NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    fulfilled boolean DEFAULT false NOT NULL,
    fulfilled_at timestamp with time zone,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    CONSTRAINT reorder_lists_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'processed'::text, 'fulfilled'::text, 'cancelled'::text])))
);


ALTER TABLE public.reorder_lists OWNER TO postgres;

--
-- Name: revenue_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.revenue_records (
    id integer DEFAULT 1 NOT NULL,
    revenue numeric(14,2) DEFAULT 0 NOT NULL,
    date date DEFAULT CURRENT_DATE NOT NULL,
    period text DEFAULT 'day'::text NOT NULL,
    CONSTRAINT revenue_records_revenue_check CHECK ((revenue >= (0)::numeric))
);


ALTER TABLE public.revenue_records OWNER TO postgres;

--
-- Name: sale_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sale_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    sale_id uuid NOT NULL,
    product_id uuid,
    bike_id uuid,
    name text NOT NULL,
    kind text DEFAULT 'part'::text NOT NULL,
    qty integer DEFAULT 1 NOT NULL,
    unit_price numeric(12,2) DEFAULT 0 NOT NULL,
    unit_cost numeric(12,2) DEFAULT 0 NOT NULL,
    discount numeric(12,2) DEFAULT 0 NOT NULL,
    line_total numeric(12,2) DEFAULT 0 NOT NULL,
    CONSTRAINT sale_items_kind_check CHECK ((kind = ANY (ARRAY['part'::text, 'bike'::text])))
);


ALTER TABLE public.sale_items OWNER TO postgres;

--
-- Name: sales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sales (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    client_txn_id text NOT NULL,
    receipt_no text,
    cashier_id uuid NOT NULL,
    customer_id uuid,
    bike_id uuid,
    subtotal numeric(12,2) DEFAULT 0 NOT NULL,
    discount numeric(12,2) DEFAULT 0 NOT NULL,
    total numeric(12,2) DEFAULT 0 NOT NULL,
    cost_total numeric(12,2) DEFAULT 0 NOT NULL,
    profit numeric(12,2) DEFAULT 0 NOT NULL,
    payment_method text NOT NULL,
    amount_paid numeric(12,2) DEFAULT 0 NOT NULL,
    change_due numeric(12,2) DEFAULT 0 NOT NULL,
    device_id text,
    status text DEFAULT 'completed'::text NOT NULL,
    synced_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT sales_payment_method_check CHECK ((payment_method = ANY (ARRAY['cash'::text, 'mobile_money'::text, 'bank'::text, 'card'::text, 'credit'::text]))),
    CONSTRAINT sales_status_check CHECK ((status = ANY (ARRAY['completed'::text, 'pending'::text])))
);


ALTER TABLE public.sales OWNER TO postgres;

--
-- Name: stock_movements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_movements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    product_id uuid NOT NULL,
    qty integer NOT NULL,
    type text NOT NULL,
    sale_id uuid,
    user_id uuid,
    device_id text,
    client_txn_id text,
    note text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.stock_movements OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    full_name text NOT NULL,
    email text,
    phone text,
    password_hash text,
    role text DEFAULT 'cashier'::text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    activated_at timestamp with time zone,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    permissions jsonb DEFAULT '[]'::jsonb NOT NULL,
    CONSTRAINT users_role_check CHECK ((role = ANY (ARRAY['admin'::text, 'manager'::text, 'cashier'::text, 'mechanic'::text])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Data for Name: activation_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.activation_codes (id, code, label, role, created_by, claimed_by, used_at, expires_at, created_at, permissions) FROM stdin;
ac45c4c8-7ac9-403f-80df-d6753d246ba3	SPIRO-FC0797	Manager	manager	a4260b57-eff9-4103-b36b-8edc5b279eb2	4c54a444-4648-414b-95c4-36f6b37d9540	2026-09-16 23:45:44.311373+03	2026-09-23 23:45:17.476002+03	2026-09-16 23:45:17.476002+03	["inventory_entry"]
\.


--
-- Data for Name: admin_recovery_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admin_recovery_codes (id, code_hash, created_by, expires_at, used_at, claimed_by, created_at) FROM stdin;
\.


--
-- Data for Name: approvals; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bike_installment_payments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bike_reservations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bikes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: consignments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customer_bikes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customer_bikes (id, customer_id, bike_id, external_desc, plate, created_at) FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: expense_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.expense_categories (id, code, name, group_name, description, is_active, sort_order, created_at) FROM stdin;
\.


--
-- Data for Name: expenses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.expenses (id, client_txn_id, category_id, category_snapshot, amount, payment_method, payee, receipt_ref, expense_date, notes, recorded_by, created_at, voided, void_reason, voided_at, voided_by) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: push_subscriptions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reorder_lists; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: revenue_records; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.revenue_records (id, revenue, date, period) FROM stdin;
1	9220000.00	2026-09-21	day
\.


--
-- Data for Name: sale_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sales; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stock_movements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 182, true);


--
-- Name: activation_codes activation_codes_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activation_codes
    ADD CONSTRAINT activation_codes_code_key UNIQUE (code);


--
-- Name: activation_codes activation_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activation_codes
    ADD CONSTRAINT activation_codes_pkey PRIMARY KEY (id);


--
-- Name: admin_recovery_codes admin_recovery_codes_code_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_recovery_codes
    ADD CONSTRAINT admin_recovery_codes_code_hash_key UNIQUE (code_hash);


--
-- Name: admin_recovery_codes admin_recovery_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_recovery_codes
    ADD CONSTRAINT admin_recovery_codes_pkey PRIMARY KEY (id);


--
-- Name: approvals approvals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approvals
    ADD CONSTRAINT approvals_pkey PRIMARY KEY (id);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: bike_installment_payments bike_installment_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bike_installment_payments
    ADD CONSTRAINT bike_installment_payments_pkey PRIMARY KEY (id);


--
-- Name: bike_reservations bike_reservations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bike_reservations
    ADD CONSTRAINT bike_reservations_pkey PRIMARY KEY (id);


--
-- Name: bikes bikes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bikes
    ADD CONSTRAINT bikes_pkey PRIMARY KEY (id);


--
-- Name: bikes bikes_vin_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bikes
    ADD CONSTRAINT bikes_vin_key UNIQUE (vin);


--
-- Name: consignments consignments_client_txn_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consignments
    ADD CONSTRAINT consignments_client_txn_id_key UNIQUE (client_txn_id);


--
-- Name: consignments consignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consignments
    ADD CONSTRAINT consignments_pkey PRIMARY KEY (id);


--
-- Name: customer_bikes customer_bikes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_bikes
    ADD CONSTRAINT customer_bikes_pkey PRIMARY KEY (id);


--
-- Name: customers customers_phone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_phone_key UNIQUE (phone);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: expense_categories expense_categories_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expense_categories
    ADD CONSTRAINT expense_categories_code_key UNIQUE (code);


--
-- Name: expense_categories expense_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expense_categories
    ADD CONSTRAINT expense_categories_pkey PRIMARY KEY (id);


--
-- Name: expenses expenses_client_txn_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_client_txn_id_key UNIQUE (client_txn_id);


--
-- Name: expenses expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_pkey PRIMARY KEY (id);


--
-- Name: products products_barcode_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_barcode_key UNIQUE (barcode);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_sku_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_sku_key UNIQUE (sku);


--
-- Name: push_subscriptions push_subscriptions_endpoint_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_endpoint_key UNIQUE (endpoint);


--
-- Name: push_subscriptions push_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: reorder_lists reorder_lists_client_txn_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reorder_lists
    ADD CONSTRAINT reorder_lists_client_txn_id_key UNIQUE (client_txn_id);


--
-- Name: reorder_lists reorder_lists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reorder_lists
    ADD CONSTRAINT reorder_lists_pkey PRIMARY KEY (id);


--
-- Name: revenue_records revenue_records_period_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.revenue_records
    ADD CONSTRAINT revenue_records_period_key UNIQUE (period);


--
-- Name: revenue_records revenue_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.revenue_records
    ADD CONSTRAINT revenue_records_pkey PRIMARY KEY (id);


--
-- Name: sale_items sale_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_pkey PRIMARY KEY (id);


--
-- Name: sales sales_client_txn_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_client_txn_id_key UNIQUE (client_txn_id);


--
-- Name: sales sales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_pkey PRIMARY KEY (id);


--
-- Name: sales sales_receipt_no_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_receipt_no_key UNIQUE (receipt_no);


--
-- Name: stock_movements stock_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_audit_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_created ON public.audit_log USING btree (created_at);


--
-- Name: idx_consignment_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_consignment_created ON public.consignments USING btree (created_at);


--
-- Name: idx_consignment_source; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_consignment_source ON public.consignments USING btree (source_reorder_id);


--
-- Name: idx_expenses_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expenses_category ON public.expenses USING btree (category_id);


--
-- Name: idx_expenses_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expenses_date ON public.expenses USING btree (expense_date);


--
-- Name: idx_expenses_recorded_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expenses_recorded_by ON public.expenses USING btree (recorded_by);


--
-- Name: idx_installments_reservation; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_installments_reservation ON public.bike_installment_payments USING btree (reservation_id);


--
-- Name: idx_movements_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_movements_product ON public.stock_movements USING btree (product_id, created_at);


--
-- Name: idx_movements_txn; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_movements_txn ON public.stock_movements USING btree (client_txn_id);


--
-- Name: idx_recovery_codes_expires; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_recovery_codes_expires ON public.admin_recovery_codes USING btree (expires_at);


--
-- Name: idx_reorder_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reorder_created ON public.reorder_lists USING btree (created_at);


--
-- Name: idx_reorder_fulfilled; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reorder_fulfilled ON public.reorder_lists USING btree (fulfilled);


--
-- Name: idx_reorder_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reorder_status ON public.reorder_lists USING btree (status);


--
-- Name: idx_reservations_bike; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reservations_bike ON public.bike_reservations USING btree (bike_id);


--
-- Name: idx_reservations_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reservations_customer ON public.bike_reservations USING btree (customer_id);


--
-- Name: idx_reservations_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reservations_status ON public.bike_reservations USING btree (status);


--
-- Name: idx_sale_items_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sale_items_product ON public.sale_items USING btree (product_id);


--
-- Name: idx_sale_items_sale; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sale_items_sale ON public.sale_items USING btree (sale_id);


--
-- Name: idx_sales_cashier; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sales_cashier ON public.sales USING btree (cashier_id);


--
-- Name: idx_sales_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sales_created_at ON public.sales USING btree (created_at);


--
-- Name: activation_codes activation_codes_claimed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activation_codes
    ADD CONSTRAINT activation_codes_claimed_by_fkey FOREIGN KEY (claimed_by) REFERENCES public.users(id);


--
-- Name: activation_codes activation_codes_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activation_codes
    ADD CONSTRAINT activation_codes_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: admin_recovery_codes admin_recovery_codes_claimed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_recovery_codes
    ADD CONSTRAINT admin_recovery_codes_claimed_by_fkey FOREIGN KEY (claimed_by) REFERENCES public.users(id);


--
-- Name: admin_recovery_codes admin_recovery_codes_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_recovery_codes
    ADD CONSTRAINT admin_recovery_codes_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: approvals approvals_decided_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approvals
    ADD CONSTRAINT approvals_decided_by_fkey FOREIGN KEY (decided_by) REFERENCES public.users(id);


--
-- Name: approvals approvals_requested_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approvals
    ADD CONSTRAINT approvals_requested_by_fkey FOREIGN KEY (requested_by) REFERENCES public.users(id);


--
-- Name: audit_log audit_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: bike_installment_payments bike_installment_payments_paid_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bike_installment_payments
    ADD CONSTRAINT bike_installment_payments_paid_by_fkey FOREIGN KEY (paid_by) REFERENCES public.users(id);


--
-- Name: bike_installment_payments bike_installment_payments_reservation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bike_installment_payments
    ADD CONSTRAINT bike_installment_payments_reservation_id_fkey FOREIGN KEY (reservation_id) REFERENCES public.bike_reservations(id) ON DELETE CASCADE;


--
-- Name: bike_reservations bike_reservations_bike_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bike_reservations
    ADD CONSTRAINT bike_reservations_bike_id_fkey FOREIGN KEY (bike_id) REFERENCES public.bikes(id) ON DELETE CASCADE;


--
-- Name: bike_reservations bike_reservations_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bike_reservations
    ADD CONSTRAINT bike_reservations_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: bike_reservations bike_reservations_reserved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bike_reservations
    ADD CONSTRAINT bike_reservations_reserved_by_fkey FOREIGN KEY (reserved_by) REFERENCES public.users(id);


--
-- Name: bikes bikes_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bikes
    ADD CONSTRAINT bikes_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE SET NULL;


--
-- Name: bikes bikes_reserved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bikes
    ADD CONSTRAINT bikes_reserved_by_fkey FOREIGN KEY (reserved_by) REFERENCES public.users(id);


--
-- Name: consignments consignments_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consignments
    ADD CONSTRAINT consignments_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: consignments consignments_source_list_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consignments
    ADD CONSTRAINT consignments_source_list_id_fkey FOREIGN KEY (source_list_id) REFERENCES public.reorder_lists(id);


--
-- Name: consignments consignments_source_reorder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consignments
    ADD CONSTRAINT consignments_source_reorder_id_fkey FOREIGN KEY (source_reorder_id) REFERENCES public.reorder_lists(id);


--
-- Name: customer_bikes customer_bikes_bike_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_bikes
    ADD CONSTRAINT customer_bikes_bike_id_fkey FOREIGN KEY (bike_id) REFERENCES public.bikes(id) ON DELETE SET NULL;


--
-- Name: customer_bikes customer_bikes_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customer_bikes
    ADD CONSTRAINT customer_bikes_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: expenses expenses_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.expense_categories(id);


--
-- Name: expenses expenses_recorded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_recorded_by_fkey FOREIGN KEY (recorded_by) REFERENCES public.users(id);


--
-- Name: expenses expenses_voided_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_voided_by_fkey FOREIGN KEY (voided_by) REFERENCES public.users(id);


--
-- Name: push_subscriptions push_subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: reorder_lists reorder_lists_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reorder_lists
    ADD CONSTRAINT reorder_lists_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: sale_items sale_items_bike_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_bike_id_fkey FOREIGN KEY (bike_id) REFERENCES public.bikes(id);


--
-- Name: sale_items sale_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: sale_items sale_items_sale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_sale_id_fkey FOREIGN KEY (sale_id) REFERENCES public.sales(id) ON DELETE CASCADE;


--
-- Name: sales sales_bike_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_bike_id_fkey FOREIGN KEY (bike_id) REFERENCES public.bikes(id);


--
-- Name: sales sales_cashier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_cashier_id_fkey FOREIGN KEY (cashier_id) REFERENCES public.users(id);


--
-- Name: sales sales_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: stock_movements stock_movements_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: stock_movements stock_movements_sale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_sale_id_fkey FOREIGN KEY (sale_id) REFERENCES public.sales(id) ON DELETE SET NULL;


--
-- Name: stock_movements stock_movements_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict mF8wq2VAw5lEEYSqqokDvlxGnHjZ9bSo3ZdnrbS4OCrue9oPGqjggHJ1oSJJ9dX

